@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800');
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
@font-face {
  font-family: 'fontello';
  src: url(../fonts/fontello.svg) format('svg'), url(../fonts/fontello.woff) format('woff'), url(../fonts/fontello.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
* {
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
html {
  background-color: #ffffff;
}
body {
  margin: 0 auto;
  width: 100%;
}
h3 {
  font-size: 30px;
  font-weight: 300;
  color: ;
  line-height: 50px;
  text-align: center;
}
video {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
.header {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.header-logo {
  margin: 38px 0 0 0.9vw;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.header-logo-img {
  fill: #f3f3f3;
  stroke: #f3f3f3;
}
.header-logo:hover .header-name,
.header-logo:hover .header-logo-img {
  fill: #c7b299;
  stroke: #c7b299;
  color: #c7b299;
}
.header-name {
  text-transform: capitalize;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  color: #f3f3f3;
  margin: 13px 0 0 0;
}
.header-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style-type: none;
  margin: 57px 0 0 11.2vw;
  padding: 0;
}
.header-menu-li {
  margin: 0 1.4vw 0 0;
}
.header-menu-li-icon {
  fill: #f3f3f3;
  stroke: #f3f3f3;
}
.header-menu-li a {
  color: #f3f3f3;
  text-transform: capitalize;
  font-size: 14px;
}
.header-menu-li a:hover {
  color: #c7b299;
}
.header-menu-li a:hover .header-menu-li-icon {
  fill: #c7b299;
  stroke: #c7b299;
}
.header-menu-li:nth-child(9),
.header-menu-li:nth-child(10) {
  margin: 0 -10px 0 39px;
}
.slider {
  margin: 0 auto;
  min-height: 1024px;
  width: 100%;
  background-color: #555556;
  background: url(../img/header/slider_bg.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 283px 0 0 0;
  box-sizing: border-box;
}
.slider-main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
}
.slider-control {
  align-self: center;
  display: block;
}
.slider-control:hover .slider-arrow {
  border-color: #c7b299;
}
.slider-arrow {
  width: 50px;
  height: 50px;
  border-left: 2px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;
}
.slider-arrow-left {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slider-arrow-right {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.slider-slogan {
  align-self: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-slogan h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #f3f3f3;
  text-align: center;
  margin: 20px 0 10px 0;
}
.slider-slogan span {
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 700;
  color: #f3f3f3;
  text-align: center;
  margin: 0 10px 0;
}
.slider-slogan p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #f3f3f3;
  text-align: center;
  width: 570px;
}
.slider-nav {
  width: 100%;
  align-self: flex-end;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.slider-nav-link {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #555556;
  margin: 0 5px;
  box-sizing: border-box;
}
.slider-nav-link:hover {
  background-color: #555556;
  border: 2px solid #c7b299;
}
.slider-btn {
  display: block;
  min-height: 53px;
  min-width: 170px;
  border-radius: 5px;
  background-color: #c7b299;
  color: #f3f3f3;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  outline: none;
  border-bottom: 4px solid #736357;
  text-align: center;
  padding: 16px 5px 0 5px;
  margin: 30px 0 0 0;
  box-sizing: border-box;
}
.slider-btn:hover {
  background-color: #a18059;
  color: #c0c0c0;
}
.slider-btn:active {
  transform: scale(0.95);
  transition: 0.2s;
}
.left-arrow {
  padding: 50px 20px 50px 50px;
}
.right-arrow {
  padding: 50px 50px 50px 20px;
}
.services {
  min-height: 370px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.services-icon {
  fill: #555555;
  stroke: #555555;
}
.services-block {
  width: 285px;
  min-height: 250px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 0 10px;
}
.services-block h5 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 22px 0;
}
.services-block p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
}
.services-block:hover h5 {
  color: #c7b299;
}
.services-block:hover .services-icon {
  fill: #c7b299;
  stroke: #c7b299;
}
.services-block-line {
  width: 70px;
  margin: 0 auto;
  border-bottom: 3px solid #f1eee9;
}
.services-block:hover .services-block-line {
  border-bottom: 3px solid #c7b299;
}
.realization {
  min-height: 700px;
  padding: 75px 0 500px 0;
  background-color: #fbfaf8;
  background: url(../img/realization/browser-center.jpg) no-repeat, url(../img/realization/browser-right.jpg) no-repeat, url(../img/realization/browser-left.jpg) no-repeat;
  background-position: 50% 100%, 70% 100%, 30% 100%;
  box-sizing: border-box;
}
.realization h3 {
  margin: 0 auto 10px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #555555;
  text-align: center;
}
.realization p {
  margin: 0  auto;
  width: 40%;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #555555;
  text-align: center;
}
.text_boxes {
  min-height: 150px;
  background: -moz-linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #211b19), color-stop(100%, #4d3327));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d3327', endColorstr='#211b19', GradientType=1);
  /* ie6-9 */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 18vw 0 19vw;
}
.text_boxes span {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #f3f3f3;
  text-align: left;
}
.text_boxes p {
  margin: 10px 0;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #f3f3f3;
  text-align: left;
}
.text_boxes-btn {
  display: block;
  padding: 5px;
  min-height: 50px;
  min-width: 170px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #f3f3f3;
  text-align: center;
  border-radius: 3px;
  background-color: #998675;
  text-transform: uppercase;
  outline: none;
  border-bottom: 4px solid #736357;
  padding: 16px 5px 0 5px;
  margin: 0;
  box-sizing: border-box;
}
.text_boxes-btn:hover {
  background-color: #a18059;
  color: #c0c0c0;
}
.text_boxes-btn:active {
  transform: scale(0.95);
  transition: 0.2s;
}
.text_boxes-span:before {
  content: "Waxom";
  color: #c7b299;
  display: inline-block;
  margin: 0 10px 0 0;
}
