@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800');
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
@font-face {
  font-family: 'fontello';
  src: url(../fonts/fontello.svg) format('svg'), url(../fonts/fontello.woff) format('woff'), url(../fonts/fontello.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
* {
  font-family: 'Montserrat', sans-serif;
}
html {
  background-color: #ffffff;
}
body {
  margin: 0 auto;
  width: 100%;
}
h3 {
  font-size: 30px;
  font-weight: 300;
  color: ;
  line-height: 50px;
  text-align: center;
}
video {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
.header {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.header-logo {
  margin: 38px 0 0 0.9vw;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.header-logo-img {
  height: 60px;
}
.header-name {
  text-transform: capitalize;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  color: #f3f3f3;
  margin: 13px 0 0 0;
}
.header-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style-type: none;
  margin: 57px 0 0 11.2vw;
  padding: 0;
}
.header-menu-li {
  margin: 0 1.4vw 0 0;
}
.header-menu-li a {
  color: #f3f3f3;
  text-transform: capitalize;
  font-size: 14px;
}
.header-menu-li a:hover {
  color: #c7b299;
}
.header-menu-li:nth-child(9),
.header-menu-li:nth-child(10) {
  margin: 0 -10px 0 39px;
}
.slider {
  margin: 0 auto;
  min-height: 1024px;
  width: 100%;
  background: url(../img/header/slider_bg.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  padding: 283px 0 0 0;
  box-sizing: border-box;
}
.slider-control {
  align-self: center;
  display: block;
  padding: 20px 20px 20px 20px;
}
.slider-arrow {
  width: 50px;
  height: 50px;
  border-left: 2px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;
}
.slider-arrow-left {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slider-arrow-right {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.slider-slogan {
  align-self: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 77%;
}
.slider-slogan h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #f3f3f3;
  text-align: center;
  margin: 0 0 0 0;
}
.slider-slogan span {
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 700;
  color: #f3f3f3;
  text-align: center;
}
.slider-slogan p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #f3f3f3;
  text-align: center;
  width: 570px;
}
.slider-nav {
  width: 100%;
  align-self: flex-end;
  text-align: center;
}
.slider-nav-link {
  color: #f3f3f3;
}
.slider-btn {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background-color: #c7b299;
  color: #f3f3f3;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: none;
  outline: none;
}
