@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'montserratextrabold';
  src: url('../fonts/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserratmedium';
  src: url('../fonts/montserrat/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserratsemibold';
  src: url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaybold';
  src: url('raleway-bold-webfont.woff2') format('woff2'), url('raleway-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayextrabold';
  src: url('raleway-extrabold-webfont.woff2') format('woff2'), url('raleway-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaylight';
  src: url('raleway-light-webfont.woff2') format('woff2'), url('raleway-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('raleway-regular-webfont.woff2') format('woff2'), url('raleway-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaysemibold';
  src: url('raleway-semibold-webfont.woff2') format('woff2'), url('raleway-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: 'montserratregular', Arial, sans-serif;
  outline: none;
  max-width: 1920px;
}
html {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1920px;
}
body {
  margin: 0 auto;
  max-width: 100%;
}
h3 {
  font-size: 30px;
  font-weight: 300;
  color: ;
  line-height: 50px;
  text-align: center;
}
video {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
main {
  width: 100%;
}
header {
  margin: 0 auto;
  width: 100%;
  background-color: #555556;
  background: url(../img/header/slider_bg.jpg) no-repeat;
  background-size: cover;
  min-height: 1024px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}
.header {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.header-logo {
  margin: 38px 0 0 0.9vw;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.header-logo-img {
  fill: #f3f3f3;
  stroke: #f3f3f3;
}
.header-logo:hover .header-name,
.header-logo:hover .header-logo-img {
  fill: #c7b299;
  stroke: #c7b299;
  color: #c7b299;
}
.header-name {
  text-transform: capitalize;
  display: block;
  font-family: 'ralewayregular', Arial, sans-serif;
  font-size: 34px;
  color: #f3f3f3;
  margin: 13px 0 0 0;
}
.header-btn {
  border: none;
  outline: none;
  background-color: transparent;
  height: 25px;
  margin: 50px 20px 0 0;
  fill: #f3f3f3;
  stroke: #f3f3f3;
}
.header-btn:hover .header-btn-icon {
  fill: #c7b299;
  stroke: #c7b299;
}
.header-btn:active .header-btn-icon {
  fill: #f3f3f3;
  stroke: #f3f3f3;
}
.header-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style-type: none;
  margin: 57px 15px 0 250px;
  padding: 0;
}
.header-menu-li {
  margin: 0 20px 0 0;
}
.header-menu-li-icon {
  fill: #f3f3f3;
  stroke: #f3f3f3;
}
.header-menu-li a {
  color: #f3f3f3;
  text-transform: capitalize;
  font-size: 14px;
}
.header-menu-li a:hover {
  color: #c7b299;
}
.header-menu-li a:hover .header-head-menu-li-icon {
  fill: #c7b299;
  stroke: #c7b299;
}
.slider {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.slider-main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 0 300px 0;
  justify-content: space-around;
}
.slider-control {
  align-self: center;
  display: block;
  background: none;
  border: none;
  outline: none;
}
.slider-control:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-left: 2px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;
}
.slider-control:hover:before {
  border-color: #c7b299;
}
.slider-control:active:before {
  border-color: #f3f3f3;
}
.slider-slogan {
  align-self: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-slogan h2 {
  font-family: 'ralewayregular', Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #f3f3f3;
  text-align: center;
  margin: 20px 0 10px 0;
}
.slider-slogan span {
  font-family: 'ralewaybold', Arial, sans-serif;
  font-size: 52px;
  font-weight: 700;
  color: #f3f3f3;
  text-align: center;
  margin: 0 10px 0;
}
.slider-slogan p {
  font-family: 'ralewaylight', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #f3f3f3;
  text-align: center;
  line-height: 24px;
  width: 570px;
}
.slider-nav {
  width: 100%;
  align-self: flex-end;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.slider-nav-link {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #555556;
  margin: 0 5px;
  border: 2px solid transparent;
}
.slider-nav-link:hover {
  background-color: black;
  border: 2px solid #c7b299;
}
.slider-btn {
  display: block;
  min-height: 53px;
  min-width: 170px;
  border-radius: 5px;
  background-color: #c7b299;
  color: #f3f3f3;
  text-transform: uppercase;
  font-family: 'montserratbold', Arial, sans-serif;
  outline: none;
  border-bottom: 4px solid #736357;
  text-align: center;
  padding: 16px 5px 0 5px;
  margin: 30px 0 0 0;
  box-sizing: border-box;
}
.slider-btn:hover {
  background-color: #a18059;
  color: #c0c0c0;
}
.slider-btn:active {
  transform: scale(0.95);
  transition: 0.2s;
}
.left-arrow:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.right-arrow:before {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.services {
  min-height: 370px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-icon {
  fill: #555555;
  stroke: #555555;
}
.services-block {
  min-width: 210px;
  max-width: 285px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 2;
  margin: 0 10px 0 10px;
}
.services-block h5 {
  text-align: center;
  font-family: 'ralewaybold', Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 22px 0;
}
.services-block p {
  text-align: center;
  font-family: 'montserratmedium', Arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
}
.services-block:hover h5 {
  color: #c7b299;
}
.services-block:hover .services-icon {
  fill: #c7b299;
  stroke: #c7b299;
}
.services-block-txt:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 30px auto 0 auto;
}
.services-block-txt:hover:after {
  background-color: #c7b299;
}
.realization {
  min-height: 700px;
  padding: 75px 0 500px 0;
  background-color: red;
  background: url(../img/realization/browser-center.jpg) no-repeat, url(../img/realization/browser-right.jpg) no-repeat, url(../img/realization/browser-left.jpg) no-repeat;
  background-position: 50% 100%, 70% 100%, 30% 100%;
  box-sizing: border-box;
}
.realization h3 {
  margin: 0 auto 10px 0;
  font-family: 'ralewaybold', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #555555;
  text-align: center;
}
.realization p {
  margin: 0  auto;
  width: 40%;
  line-height: 30px;
  font-family: 'montserratlight', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #555555;
  text-align: center;
}
.text_boxes {
  min-height: 150px;
  background: -moz-linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #211b19), color-stop(100%, #4d3327));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #211b19 0%, #4d3327 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d3327', endColorstr='#211b19', GradientType=1);
  /* ie6-9 */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20% 0 20%;
}
.text_boxes span {
  font-family: 'ralewaysemibold', Arial, sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #f3f3f3;
  text-align: left;
}
.text_boxes p {
  margin: 10px 0;
  line-height: 30px;
  font-family: 'montserratlight', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #f3f3f3;
  text-align: left;
}
.text_boxes-btn {
  display: block;
  padding: 5px;
  min-height: 50px;
  min-width: 170px;
  font-family: 'ralewaybold', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #f3f3f3;
  text-align: center;
  border-radius: 3px;
  background-color: #998675;
  text-transform: uppercase;
  outline: none;
  border-bottom: 4px solid #736357;
  padding: 16px 5px 0 5px;
  margin: 0;
  box-sizing: border-box;
}
.text_boxes-btn:hover {
  background-color: #a18059;
  color: #c0c0c0;
}
.text_boxes-btn:active {
  transform: scale(0.95);
  transition: 0.2s;
}
.text_boxes-span:before {
  content: "Waxom";
  color: #c7b299;
  display: inline-block;
  margin: 0 10px 0 0;
}
