.mixin_font(@font; @fontSize; @fontWeight; @color; @textAlign: center;) {
	font-family: @font;
	font-size: @fontSize;
	font-weight: @fontWeight;
	color: @color;
	text-align: @textAlign;
}

* {
	font-family: @font1-reg;
	outline: none;
	max-width: @mainWidth;
}

html {
	background-color: @colorBG;
	margin: 0 auto;
	max-width: @mainWidth;
}

body {
	margin: 0 auto;
	max-width: 100%;
}

h3 {
	font-size: 30px;
	font-weight: 300;
	color: @color2;
	line-height: 50px;
	text-align: center;
}

video {
	border: none;
	outline: none;
}

a {
	text-decoration: none;
}

main {
	width: 100%;
}

header {
	margin: 0 auto;
	width: 100%;
	background-color: @colorBGimg;
	background: url(../img/header/slider_bg.jpg) no-repeat;
	background-size: cover;
	min-height: 1024px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;

}

.header {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	
	&-logo {
		margin: 38px 0 0 0.9vw;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		&-img {
			fill: @colorTextLight;
			stroke: @colorTextLight;
		}
		
		&:hover .header-name,
		&:hover .header-logo-img {
			fill: @color1;
			stroke: @color1;
			color: @color1
		}
	}
	
	&-name {
		text-transform: capitalize;
		display: block;
		font-family: @font2-reg;
		font-size: 34px;
		color: @colorTextLight;
		margin: 13px 0 0 0;
	}
	
	&-btn {
		border: none;
		outline: none;
		background-color: transparent;
		height: 25px;
		margin: 50px 20px 0 0;
		
		& {
			fill: @colorTextLight;
			stroke: @colorTextLight;
		}
		
		&:hover &-icon {
			fill: @color1;
			stroke: @color1;
		}
		
		&:active &-icon {
			fill: @colorTextLight;
			stroke: @colorTextLight;
		}
	}
	
	&-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		list-style-type: none;
		margin: 57px 15px 0 250px;
		padding: 0;
		
		&-li {
			margin: 0 20px 0 0;
			&-icon {
				fill: @colorTextLight;
				stroke: @colorTextLight;
			}
		}
		
		&-li a {
			color: @colorTextLight;
			text-transform: capitalize;
			font-size: 14px;
			
			&:hover {
				color: @color1;
			}
			
			&:hover .header-head-menu-li-icon {
				fill: @color1;
				stroke: @color1;
			}
		}
	}
}

.slider {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	box-sizing: border-box;
	
	&-main {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		margin: 0 0 300px 0;
		justify-content: space-around;
	}
	
	&-control {
		align-self: center;
		display: block;
		background: none;
		border: none;
		outline: none;	
		
		&:before {
			content: "";
			display: block;
			width: 50px;
			height: 50px;
			border-left: 2px solid @colorTextLight;
			border-bottom: 2px solid @colorTextLight;
		}

		&:hover:before {
			border-color: @color1;
		}

		&:active:before {
			border-color: @colorTextLight;
		}
	}
	
	
	&-slogan {
		align-self: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			.mixin_font(@font2-reg; 36px; 400; @colorTextLight;);
			margin: 20px 0 10px 0;
		}
		span {
			.mixin_font(@font2-bold; 52px; 700; @colorTextLight;);
			margin:  0 10px 0;
		}
		p {
			.mixin_font(@font2-lt; 16px; 300; @colorTextLight;);
			line-height: 24px;
			width: 570px;
		}
	}
	
	&-nav {
		width: 100%;
		align-self: flex-end;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		
		&-link {
			display: block;
			height: 10px;
			width: 10px;
			border-radius: 50%;
			background-color: @colorBGimg;
			margin: 0 5px;
			border: 2px solid transparent;
			&:hover {
				background-color: black;
				border: 2px solid @color1;
			}
		}
	}
	&-btn {
		display: block;
		min-height: 53px;
		min-width: 170px;
		border-radius: 5px;
		background-color: @color1;
		color: @colorTextLight;
		text-transform: uppercase;
		font-family: @font1-bold;
		outline: none;
		border-bottom: 4px solid #736357;
		text-align: center;
		padding: 16px 5px 0 5px;
		margin: 30px 0 0 0;
		box-sizing: border-box;
		
		&:hover {
			background-color: darken(@color1, 20%);
			color: darken(@colorTextLight, 20%);
		}
		
		&:active {
			transform: scale(.95);
			transition: 0.2s;
		}
	}
}

.left-arrow:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.right-arrow:before {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.services {
	min-height: 370px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&-icon {
		fill: @colorTextDark;
		stroke: @colorTextDark;
	}
	
	&-block {
		min-width: 210px;
		max-width: 285px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-shrink: 2;
		margin: 0 10px 0 10px;
		
		h5 {
			text-align: center;
			font-family: @font2-bold;
			font-size: 22px;
			font-weight: 700;
			margin: 22px 0;
		}
		p {
			text-align: center;
			font-family: @font1-md;
			font-size: 14px;
			line-height: 27px;
		}
		
		&:hover h5 {
			color: @color1;
		}
		
		&:hover .services-icon {
			fill: @color1;
			stroke: @color1;
		}
		
		&-txt:after {
			content: "";
			display: block;
			width: 70px;
			height: 3px;
			background-color: #f1eee9;
			margin: 30px auto 0 auto;
			
		}
		&-txt:hover:after {
			background-color: @color1;
		}
	}
}

.realization {
	min-height: 700px;
	padding: 75px 0 500px 0;
	background-color: red; //#fbfaf8;
	background: url(../img/realization/browser-center.jpg) no-repeat,
				url(../img/realization/browser-right.jpg) no-repeat,
				url(../img/realization/browser-left.jpg) no-repeat;
	background-position: 50% 100%, 70% 100%, 30% 100%;
	box-sizing: border-box;
	
	h3 {
		margin: 0 auto 10px 0;
		.mixin_font(@font2-bold; 30px; 700; @colorTextDark; center;)
	}
	
	p {
		margin: 0  auto;
		width: 40%;
		line-height: 30px;
		.mixin_font(@font1-lt; 16px; 300; @colorTextDark; center;)
	}
}

.text_boxes {
	min-height: 150px;
	background: -moz-linear-gradient(45deg, rgba(33,27,25,1) 0%, rgba(77,51,39,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(33,27,25,1)), color-stop(100%, rgba(77,51,39,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(33,27,25,1) 0%, rgba(77,51,39,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(33,27,25,1) 0%, rgba(77,51,39,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(33,27,25,1) 0%, rgba(77,51,39,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(33,27,25,1) 0%, rgba(77,51,39,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d3327', endColorstr='#211b19',GradientType=1 ); /* ie6-9 */
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 20% 0 20%;
	
	span {
		.mixin_font(@font2-sembold; 28px; 500; @colorTextLight; left;);
	}
	
	p {
		margin: 10px 0;
		line-height: 30px;
		.mixin_font(@font1-lt; 18px; 300; @colorTextLight; left;)
	}
	&-btn {
		display: block;
		padding: 5px;
		min-height: 50px;
		min-width: 170px;
		.mixin_font(@font2-bold; 14px; 700; @colorTextLight; center;);
		border-radius: 3px;
		background-color: #998675;
		text-transform: uppercase;
		outline: none;
		border-bottom: 4px solid #736357;
		padding: 16px 5px 0 5px;
		margin: 0;
		box-sizing: border-box;
		
		&:hover {
			background-color: darken(@color1, 20%);
			color: darken(@colorTextLight, 20%);
		}
		
		&:active {
			transform: scale(.95);
			transition: 0.2s;
		}
	}
}

.text_boxes-span:before {
	content: "Waxom";
	color: @color1;
	display: inline-block;
	margin: 0 10px 0 0;
}