
@import "variables.less";
	
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&subset=cyrillic');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800');
/*font-family: 'Raleway', sans-serif;*/


@font-face {
  font-family: 'fontello';
  src: url(../fonts/fontello.svg) format('svg'), url(../fonts/fontello.woff) format('woff'), url(../fonts/fontello.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
}


* {
	font-family: 'Montserrat', sans-serif;;
}

html {
	background-color: @colorBG;
}

body {
	margin: 0 auto;
	width: @mainWidth;
}

h3 {
	font-size: 30px;
	font-weight: 300;
	color: @color2;
	line-height: 50px;
	text-align: center;
}

video {
	border: none;
	outline: none;
}

header {

}


