// out: null

@headerMargin: 50px;
@footerIconSize: 25px;
@footerHeight: 100px;
@mainWidth: 1920px;

@font_std_1: Arial;
@font1-bold: 'montserratbold', @font_std_1, sans-serif;
@font1-exbold: 'montserratextrabold', @font_std_1, sans-serif;
@font1-lt: 'montserratlight', @font_std_1, sans-serif;
@font1-md: 'montserratmedium', @font_std_1, sans-serif;
@font1-reg: 'montserratregular', @font_std_1, sans-serif;
@font1-sembold: 'montserratsemibold', @font_std_1, sans-serif;


@font_std_2: Arial;
@font2-bold: 'ralewaybold', @font_std_2, sans-serif;
@font2-exbold: 'ralewayextrabold', @font_std_2, sans-serif;
@font2-lt: 'ralewaylight', @font_std_2, sans-serif;
@font2-reg: 'ralewayregular', @font_std_2, sans-serif;
@font2-sembold: 'ralewaysemibold', @font_std_2, sans-serif;

@colorBG: #ffffff;
@colorTextLight: #f3f3f3;
@colorTextDark: #555555;
@colorBGimg: #555556;
@color1: #c7b299;
@color2: ;
@color3: ;
